.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  margin-top: 1rem
}

mat-card {
  width: 25rem;
  min-height: 10rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

mat-card-actions button {
  width: 11rem;
}
