<div class="login-form">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-input
          formControlName="user"
          placeholder="Introduce tu usuario"
          label="Usuario"
        />
        <app-input
          formControlName="password"
          placeholder="Introduce tu password"
          label="Password"
          type="password"
        />
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="warn">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
